.main {
   min-height: rem(1450);
   background: center / cover no-repeat url(../img/iconfonts/fone.png);
   position: relative;
   width: 100%;

   @media (max-width:rem(420)) {
      height: rem(800);
   }

   &__w-cont {
      position: absolute;
      bottom: 0;
      width: 100%;
   }

   &__cont-ulta {
      width: 100%;
      justify-content: center;
   }

   &__white {
      position: relative;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      z-index: 3;
      @include adaptive_clamp('gap', 50, 20);
      transform: translateY(rem(40));

      @media (max-width:rem(500)) {
         flex-direction: column-reverse;
      }
   }

   &::before {
      content: '';
      width: 100%;
      position: absolute;
      height: 100%;
      background-color: rgba($color: #FF4656, $alpha: 0.85);
      z-index: 1;
      pointer-events: none;
   }

   /* .main__conteiner */
   &__swipper {
      width: 80%;
      margin-top: rem(100);

      @media (max-width:rem(600)) {
         width: 100%;
      }
   }

   &__conteiner {
      position: relative;
      z-index: 3;
      max-height: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      @media (max-width:rem(600)) {
         flex-direction: column;
      }

   }

   &__big-text {
      display: flex;
      align-items: center;
      writing-mode: vertical-rl;
      -webkit-text-stroke: 2px rgb(255, 255, 255);
      color: transparent;
      @include adaptive_clamp('font-size', 156, 60);
      line-height: math.div(203, 156);
      margin-top: rem(20);
      margin-top: rem(100);

      @media (max-width:rem(1000)) {
         line-height: rem(70);
      }

      @media (max-width:rem(600)) {
         writing-mode: horizontal-tb;
         width: 100%;
         margin-top: 0;
      }

      justify-content: center;
   }

   /* .main__list */

   &__list {
      z-index: 3;
      width: 100%;
      max-width: rem(700);
      height: 100%;
      margin-top: rem(20);
   }

   /* .main__item */

   &__item {
      height: 100%;

      @media (max-width:rem(600)) {
         display: initial;
      }
   }

   /* .main__fone */
}


.decors {
   z-index: 2;
   width: 100%;
   height: 100%;
   display: flex;
   pointer-events: none;

   div {
      background-color: #1f2326a9;
      position: absolute;


      z-index: 2;

   }

   /* .decors__1 */

   &__1 {
      width: rem(20);
      height: rem(4);
      top: 0;
      transform: translate(rem(51), rem(90));
   }

   /* .decors__2 */

   &__2 {
      height: rem(4);
      width: rem(4);
      top: 0;
      transform: translate(rem(51), rem(219));
   }

   /* .decors__3 */

   &__3 {
      top: 0;

      &::before {
         content: '';
         background-color: #1f2326a9;
         position: absolute;
         left: 0;
         top: 0;
         z-index: 2;
         height: rem(4);
         width: rem(4);
         transform: translate(rem(210), rem(45));
      }

      &::after {
         content: '';
         background-color: #1f2326a9;
         position: absolute;
         left: 0;
         top: 0;
         z-index: 2;
         height: rem(4);
         width: rem(4);
         transform: translate(rem(230), rem(45));
      }
   }

   /* .decors__4 */

   &__4 {
      width: rem(20);
      height: rem(20);
      transform: translate(rem(415), rem(42));
      top: 0;
   }

   /* .decors__5 */

   &__5 {
      right: 0;
      width: rem(12);
      height: rem(4);
      transform: translate(rem(-555), rem(93));
      top: 0;
   }

   /* .decors__6 */

   &__6 {
      right: 0;
      width: rem(4);
      height: rem(4);
      transform: translate(rem(-545), rem(156));
      top: 0;
   }

   /* .decors__7 */

   &__7 {
      right: 0;
      width: rem(20);
      height: rem(4);
      top: 0;
      transform: translate(rem(-535), rem(358));
   }

   /* .decors__8 */

   &__8 {
      right: 0;
      bottom: 0;
      width: rem(4);
      height: rem(4);
      transform: translate(rem(-545), rem(-265));
   }

   /* .decors__9 */

   &__9 {
      width: rem(20);
      height: rem(20);
      bottom: 0;
      transform: translate(rem(494), rem(-42));
   }

   /* .decors__10 */

   &__10 {
      width: rem(116);
      height: rem(4);
      transform: translate(rem(-246), rem(33));
      right: 0;
      top: 0;
   }

   /* .decors__11 */

   &__11 {
      right: 0;
      width: rem(20);
      height: rem(20);
      transform: translate(rem(-260), rem(174));
      top: 0;
   }

   /* .decors__12 */

   &__12 {
      right: 0;
      bottom: 0;
      width: rem(20);
      height: rem(4);
      transform: translate(rem(-205), rem(-389));
   }

   &__13 {
      right: 0;
      bottom: 0;

      &::before {
         content: '';
         background-color: #1f2326a9;
         position: absolute;
         right: 0;
         bottom: 0;
         z-index: 2;
         height: rem(4);
         width: rem(4);
         transform: translate(rem(-163), rem(-158));
      }

      &::after {
         content: '';
         background-color: #1f2326a9;
         position: absolute;
         right: 0;
         bottom: 0;
         height: rem(4);
         width: rem(4);
         z-index: 2;
         transform: translate(rem(-183), rem(-158));
      }
   }

   /* .decors__12 */

   &__14 {
      right: 0;
      bottom: 0;
      width: rem(20);
      height: rem(20);
      transform: translate(rem(-20), rem(-155));
   }

   &__15 {
      width: rem(40);
      height: rem(40);
      bottom: 0;
      left: 0;
      transform: translate(rem(80), rem(-301));
      background-color: #1f2326a9;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      img {
         position: absolute;
         width: 70%;
         object-fit: cover;
         display: flex;
         justify-self: center;
         justify-content: center;
         margin: 7px;
      }

      &::before {
         content: '';
         width: rem(40);
         height: rem(4);
         position: absolute;
         background-color: #1f2326a9;
         transform: translateY(rem(25));
      }

      &::after {
         content: '';
         width: rem(116);
         height: rem(4);
         position: absolute;
         background-color: #1f2326a9;
         transform: translateY(rem(52));
      }
   }
}

.footer {
   height: rem(66);
   background-color: white;
   width: 100%;
   border-radius: 0 0 10px 10px;
}

.main-item__white {
   &.item-individual {
      background-color: white;
   }
}

.main-item {
   display: flex;
   font-family: Teko;
   font-weight: 500;

   /* .main-item__text */
   &__info {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      >img {
         width: 100%;
         object-fit: cover;
         height: 100%;
         max-height: rem(814);
      }
   }

   &__text {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      writing-mode: vertical-rl;
      transform: translateX(rem(84));
      z-index: 3;
      margin-top: rem(40);
   }

   /* .main-item__description */

   &__description {
      color: #FF4656;
      font-size: rem(24);
      line-height: math.div(31, 24);
      letter-spacing: 4px;
   }

   /* .main-item__name */

   &__name {
      @include adaptive_clamp('font-size', 72, 40);
      line-height: math.div(93, 72);
      -webkit-text-stroke: 2px rgb(255, 255, 255);
      color: transparent;
      letter-spacing: 5px;

      &.black {
         -webkit-text-stroke: 2px rgb(0, 0, 0);
      }
   }

   /* .main-item__individual */

   .item-individual {
      display: flex;
      @include adaptive_clamp('gap', 20, 15);
      z-index: 2;
      width: 100%;
      height: rem(55);
      background-color: #1F2326;
      border: 2px solid white;
      justify-content: center;
      align-items: center;
      @include adaptive_clamp('padding', 45, 30);

      @media (min-width:rem(1000)) {
         transform: translate(rem(40), rem(-55));
      }

      &.white {
         background-color: white;
         border: 2px solid #1F2326;
      }

      img {
         width: 100%;
         object-fit: scale-down;
      }
   }
}

.ulta {
   z-index: 4;
   width: 100%;
   justify-content: flex-end;


   bottom: 0;
   display: -webkit-box;
   @include adaptive_clamp('gap', 40, 20);
   overflow: auto;
   max-height: rem(400);

   @media (max-width:rem(1500)) {
      flex-direction: column;
   }

   /* .ulta__item */

   &__item {
      background-color: #ffffff;
      display: flex;
      align-items: flex-start;
      padding: rem(30) rem(15);
      border: 1px solid black;
      border-radius: rem(20) 0 0 0;
   }

   /* .ulta__text */

   &__text {
      @include adaptive_clamp('margin-right', 90, 20);

   }

   /* .ulta__title */

   &__title {
      color: #C4C4C4;
      font-size: rem(40);
      line-height: math.div(52, 40);
      font-family: Teko;
   }

   /* .ulta__name */

   &__name {
      color: #000;
      font-size: rem(24);
      line-height: math.div(31, 24);
      font-family: Teko;
   }

   /* .ulta__description */

   &__description {
      font-size: rem(16);
      line-height: math.div(19, 16);
      color: #1F2326;
   }

   /* .ulta__image */

   &__image {
      display: flex;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      justify-content: flex-end;
      position: relative;
      transform: translateX(-20px);

      &::before {
         content: '';
         background-color: #FF4656;
         @include adaptive_clamp('width', 140, 70);
         @include adaptive_clamp('height', 140, 70);
         display: block;
         position: absolute;
         transform: translate(rem(-40), rem(30));
         z-index: 2;

         @media (max-width:rem(1070)) {
            display: none;
         }
      }

      img {
         @include adaptive_clamp('width', 130, 60);
         position: absolute;
         z-index: 3;
         top: 0;
         right: 0;
      }
   }
}

.swipper-pagination {
   background-color: white;
   width: rem(230);
   border-radius: rem(20) 0 0 0;
   border: 1px solid black;
   z-index: 3;
   margin-right: rem(10);
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease 0s;
   cursor: pointer;

   @media (max-width:rem(500)) {
      width: 100%;
      border-radius: 0;
      margin-right: 0;
      height: 100px;
   }

   &::before {
      content: '';
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid rgb(0, 0, 0);
      position: absolute;
      transform: rotate(-90deg);
      transition: all 0.2s ease 0s;
   }

   @media (any-hover: hover) {
      &:hover {
         box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);

         &::before {
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgb(0, 0, 0);
         }
      }
   }
}