.select {
   display: block;
   max-width: 215px;
   width: 100%;
   position: relative;
   min-width: rem(250);
}

.new-select {
   position: relative;
   padding: 10px 15px;
   cursor: pointer;
   user-select: none;

}

.new-select__list {
   position: absolute;
   top: 45px;
   left: 0;
   cursor: pointer;
   width: 100%;
   z-index: 2;
   background: #fff;
   user-select: none;
   // transition: all 0.2s ease 0s;
}

.new-select__list.on {
   display: block;
   // &:hover{
   //     background-color: rgba(0,0,0,0.1);
   // }
}

.new-select__item span {
   display: block;
   padding: 10px 15px;
   color: rgba(0, 0, 0, 0.5);
}

.new-select__item span:hover {
   color: black;
   background-color: rgba(0, 0, 0, 0.1);
}

.new-select:after {
   content: '';
   display: block;
   width: 25px;
   height: 25px;
   position: absolute;
   right: 9px;
   top: 9px;
   opacity: 0.6;

   -webkit-transition: all .27s ease-in-out;
   -o-transition: all .27s ease-in-out;
   transition: all .27s ease-in-out;

   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
}

.new-select.on:after {
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
}